<!doctype html>
<html>
  <head>
    <style>
      #pic {
        max-width: 80vw;
        max-height: 80vh;
      }
      html {
        height: 100vh;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        background: #222;
        font-family: Helvetica;
        color: #ddd;
      }
      .title {
        font-size: 2em;
      }
      .artist {
        font-size: 1.25em;
      }
      .date {
        font-size: 1em;
      }
    </style>
    <meta http-equiv="refresh" content="30"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <a href="<%= picture.page_url %>"><img id="pic" src="<%= picture.image_url %>"/></a>
    <div class="title"><%= picture.title %></div>
    <div class="artist"><%= picture.artist %></div>
    <div class="date"><%= picture.date %></div>
  </body>
</html>
