<!doctype html>
<html>
  <head>
    <style>
      #pic {
        max-width: 80vw;
        max-height: 80vh;
      }
      html {
        height: 100vh;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        background: #222;
        font-family: Helvetica Neue, sans-serif;
        line-height: 1.2;
        color: #ddd;
      }
      .title {
        font-size: 6vw;
        margin-bottom: 0px;
      }
      .details {
        font-size: 3vw;
      }

     @media screen and (min-width: 768px) {
       .title {
        font-size: 2vw;
        margin-bottom: 0px;
        }
        .details {
          font-size: 1.2vw;
        }
      }

    </style>


    <meta http-equiv="refresh" content="30"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <a href="<%= picture.page_url %>"><img id="pic" src="<%= picture.image_url %>"/></a>
    <h1 class="title"><%= picture.title %></h1>
    <p class="details"><%= picture.artist %> &vert; <%= picture.date %></p>
  </body>
</html>
